$header-height: 34px;
$toolbar-height: 40px;
$formula-height: 24px;
$row-height: 24px;
$db-header-height: 64px;

$info-cell-width: 40px;
$cell-width: 120px;

/* colors */
$malibu: #7791fb;
$solitude: #dfe4f4;
$purple-heart: #6432c8;
$lilac: #d462ff;

$grey-ultra-light: #e0e0e0;
$grey-light: #c2c2c2;
$grey-medium: #7a7a7a;
$grey: #4d4d4d;
$grey-bright: #363b4a;
$black: #313031;

$border-color: #c0c0c0;
